$primary-btn: #e7c246;
$color: #eedfae;
$primary-btn-hov: $color;
$text: #000;

.back-ground {
}

.movie-view {
  background-color: $color;
  min-height: auto;
}
.value {
  font-weight: bold;
}

.lable {
  font-weight: bold;
}

.movie-poster {
  margin: auto;
}
